body {
	background: url(../images/stars_repeating.jpg) center center #000033 fixed;
}

.stars_overlay {
  background: url(../images/stars_transparent.png) transparent;
  width: 100%;
  height: 100%;
    position:fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

body {
    font-family: 'Open Sans', Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Arial,sans-serif;
}
#site-navigation{
  background: rgba(0, 0, 0, 0.75);
  border: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus{
  background: transparent;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 14px;
  padding-bottom: 14px
}
.navbar-default .navbar-nav > li > a{
  color: #fff;
  font-weight: 100;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a:hover{
  color: #fff;
  text-shadow: 0 0 20px #fff;
  background: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 14px;
  padding-bottom: 14px
}
.centered{
  text-align: center;
}
.light{
  font-weight: 300;
}
#space_navmenu{
  margin-top: 3em;
}
.navbar-brand img{
  width: 100px;
}
@media (max-width: 992px) {
  li{
    font-size: .9em
  }
}
@media (max-width: 440px ) {
  .countdown-xs-hide{
    display: none;
  }
}
.navbar-toggle{
  display: none;
}
@media (max-width: 730px ) {
  .navbar-toggle{
    display: block;
  }
}
@media (min-width: 730px ) {
  .container > .navbar-header, .container > .navbar-collapse{
    display: block;
  }
  .navbar-collapse{
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-nav > li{
    float: left;
  }
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-header {
    float: left;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-collapse .navbar-nav.navbar-left:first-child {
    margin-left: -15px;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  .navbar-collapse .navbar-text:last-child {
    margin-right: 0;
  }
  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 768px ) {
  .navbar-brand img{
    width: 75px;
  }
  #space_navmenu{
    margin-top: 2em;
  }
  .navbar-collapse.in{
    background: rgba(0,0,0,.75);
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a:hover{
    color: #fff;
    text-shadow: 0 0 20px #fff;
    background: transparent;
    padding-top: 9px;
    padding-bottom: 9px
  }
}
.spacehealth .row{
  z-index: 20;
  position: relative;
  padding-top: 3em;
  padding-bottom: 3em;
}
.spacehealth .row.astronaut{
  padding-bottom: 0;
}
.solid-white{
  background: rgba(255, 255, 255, 1);
  color: #333;
}
.margin-top{
  margin-top: 20rem;
}
.margin-bottom{
  margin-bottom: 20rem;
}
#astronaut{
  margin: -4em auto -9em auto;
  color: #fff;
}
#jCountdown{
  margin-top: 4em;
}

footer {
	overflow:hidden;
	background: url(http://missiontomarshealth.com/wp-content/uploads/2013/08/mars_footer.png) center top no-repeat;
	padding-bottom: 50px;
	margin-top: -100px;
	position: relative;
	z-index: 20;
}

footer p {
	line-height: 1.5;
	margin-bottom: 0;
	color: #cecece;
}

footer[role="contentinfo"] a {
	color: #cecece;
}

footer[role="contentinfo"] a:hover {
	color: #d74418;
}
footer .container{
  margin-top: 5em;
}

.site-content article {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-color: #ccc;	
}

a {
	color: #d74418;    
}
a:hover {
	color: #6a1f0c; 
}
.footercircle {
    position: absolute;
    right: 0px;
    bottom: 0;
    z-index: 1;
}

/* BEGIN Social -- NOTE FONT DIRECTIVES MAY NOT MATCH NEW STYLE */
#social-networking {
    /*float: right;*/
	overflow:hidden;
	width: 500px;
	margin-top: 2px;
	margin-right: 7.6%;	
}

a.social-link, #social_share  a.social-link {
    display: block;
    float: left;
    margin: 0 5px 0 0; /* 0 5px 0 0;*/
    overflow: hidden;
    width: 32px;
    height: 32px;	
}

a.ico-facebook, #social_share .ico-facebook { background: url("http://missiontomarshealth.com/wp-content/uploads/2013/08/ico-facebook-connect.png") no-repeat scroll left top transparent; }
a.ico-twitter, #social_share .ico-twitter  { background: url("http://missiontomarshealth.com/wp-content/uploads/2013/08/ico-twitter-connect.png") no-repeat scroll left top transparent; }

a.ico-facebook:hover, #social_share a.ico-facebook:hover { background: url(http://missiontomarshealth.com/wp-content/uploads/2013/08/ico-facebook-hover-connect.png) no-repeat top left; }
a.ico-twitter:hover, #social_share a.ico-twitter:hover  { background: url(http://missiontomarshealth.com/wp-content/uploads/2013/08/ico-twitter-hover-connect.png) no-repeat top left; }

/* BEGIN More Social for profile pages -- NOTE IMAGES MAY NOT EXIST */
#moresocial {
	overflow: hidden;
	margin-top: 7px;
}

#moresocial  a.social-link {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    overflow: hidden;
    width: 32px;
    height: 32px;	
}

.challenge-tagline{
  font-size: 3.5em;
}
.highlight-color{
  color : #d74418;
}

.tags{
  color: #999;
}
.tag{
  background: #ddd;
  padding: 0 0.25em;
  margin: 0 0.5em;
  line-height: 1.5em;
  border-radius: 2px;
}
.tag:hover{
  color: #d74418;
}
.section{
  margin: 3em 0;
}
.challenge h4{
  line-height: 1.5em;
}
.challenge i{
  padding-right: 0.25em;
}
.challenge ul, .challenge ol{
  /*font-size: 1.15em;*/
  font-size: 1.65rem;
}
.sponsors img{
  margin: 0 auto;
}
.sponsors.nsbri img{
  width: 75%;
}
.sponsors.dunkin-donuts{
  padding: 0 3em;
}
.sponsors.uthealth{
  padding: 0;
}
.sponsors.uthealth img{
  margin-top: 20px;
}
.sponsors.bbs-radio img{
  width: 75%;
}
.sponsors.nsbri{
  padding: 0 3em;
}
.sponsors.col-lg-3{
  padding: 0 1em;
}
.sponsors{
  min-height: 50px;
}
.sponsors.nsbri, .sponsors.bcm-space-medicine{
  min-height: 50px;
}
.team{
  margin-top: 2em;
}
@media (min-width: 440px ) {
  .team .name{
    margin-top: 0;
  }
}
@media (min-width: 440px ) {
  .patch{
    width: 25%;
  }
  .sponsors{
    min-height: 150px;
  }
  .sponsors.chipotle, .sponsors.kind, .sponsors.kolache, .sponsors.dunkin-donuts, .sponsors.microsoft{
    min-height: 50px;
    margin-top: 1em;
  }
  .sponsors.nsbri img{
    width: 75%;
    margin: -1.5em auto 0 auto;
  }
  .sponsors.nsbri, .sponsors.bcm-space-medicine{
    min-height: 50px;
  }
  .sponsors.col-lg-3{
    padding: 0 3em;
  }
}
@media (max-width: 440px ) {
  .sponsors.bbs-radio img{
    margin: -2em 0 0 0;
  }
}
@media (min-width: 730px ) {
  .patch{
    width: 25%;
  }
  .sponsors.nsbri{
    padding: 0 3em;
    margin-top: -1.5em;
  }
  .sponsors.nsbri, .sponsors.bcm-space-medicine{
    min-height: 150px;
  }
}
@media (min-width: 768px ) {
  .patch{
    width: 12.5%;
  }
}
@media (max-width: 992px) {
  .sponsors.dunkin-donuts{
    padding: 0;
  }
}
@media (min-width: 992px) {
  .patch{
    width: 12.5%;
  }
  .col-lg-offset-0{
    margin-left: 0;
  }
}
.col-lg-1.patch{
  margin-bottom: 1em;
}
#twitter-widget-0{
  margin: 2em 0 0 25%;
}
