<div class="col-lg-1 patch col-sm-3 col-xs-3 col-md-12">
    <img class="img-responsive" src="/images/patches/designer.png">
</div>
<div class="col-lg-1 patch col-sm-3 col-xs-3 col-md-12">
    <img class="img-responsive" src="/images/patches/developer.png">
</div>
<div class="col-lg-1 patch col-sm-3 col-xs-3 col-md-12">
    <img class="img-responsive" src="/images/patches/scientist.png">
</div>
<div class="col-lg-1 patch col-sm-3 col-xs-3 col-md-12">
    <img class="img-responsive" src="/images/patches/engineer.png">
</div>
<div class="col-lg-1 patch col-sm-3 col-xs-3 col-md-12">
    <img class="img-responsive" src="/images/patches/medic.png">
</div>
<div class="col-lg-1 patch col-sm-3 col-xs-3 col-md-12">
    <img class="img-responsive" src="/images/patches/maker.png">
</div>
<div class="col-lg-1 patch col-sm-3 col-xs-3 col-md-12">
    <img class="img-responsive" src="/images/patches/projectmanager.png">
</div>
<div class="col-lg-1 patch col-sm-3 col-xs-3 col-md-12">
    <img class="img-responsive" src="/images/patches/entrepreneur.png">
</div>