<div class="row solid-white margin-top margin-bottom">
    <div class="container">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <h1 class="highlight-color light centered">
                Please join us for presentations
            </h1>
            <h3 class="centered">Sunday, 4PM (February 9th)</h3>
            <h3 class="centered">
                at the <a href="https://www.google.com/maps/preview/place/BioScience+Research+Collaborative/@29.711428,-95.4021439,17z/data=!3m1!4b1!4m2!3m1!1s0x8640c070544d498d:0xa36c275b10fadfb0" target="_blank">BioScience Research Collaborative Auditorium</a>
            </h3>
        </div>
    </div>
</div>

<div class="row solid-white margin-top margin-bottom">
    <div class="container">
        <div class="row">
            <h1 class="centered light">Sponsored by:</h1>
            {% include sponsors.html %}
        </div>
    </div>
</div>