<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- bootstrap CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style-bootport.css?02082014">
        <link href="{{ site.baseurl }}/jsc_files/jcountdown/jcountdown.css" rel="stylesheet" type="text/css">

        <!-- Fonts CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/fonts.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">

        <meta property="og:site_name" content="JSC Space Health Innovation Challenge">  
        <meta property="og:description" content="Mission To Mars">
        <meta property="og:type" content="website">  
        <meta property="og:image" content="{{ site.baseurl }}/images/spacehealthchallenge_240.png">
    </head>
    <body>

    <body class="spacehealth">
        <nav id="site-navigation" class="navbar navbar-default main-navigation navbar-fixed-top" role="navigation">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#space_navmenu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=""><img class="img-responsive" src="{{ site.baseurl }}/images/spacehealthchallenge_240.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="space_navmenu">
                    <ul class="nav navbar-nav nav-menu navbar-right">
                        <li class="active">
                            <a href="{{ site.baseurl }}/">Welcome</a>
                        </li>
                        <li>
                            <a href="http://missiontomarshealth.com/about/">About</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/challenges/">Challenges & Prizes</a>
                        </li>
                        <li>
                            <a href="http://missiontomarshealth.com/roles/mentor/">Mentors & Judges</a>
                        </li>
                        <li>
                            <a href="http://missiontomarshealth.com/sponsors/">Sponsors</a>
                        </li>
                        <li>
                            <a href="http://missiontomarshealth.com/schedule/">Schedule</a>
                            <!-- <a href="http://missiontomarshealth.com/2014/">2014</a> -->
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    
        <div class="row astronaut">
            <div class="container">
                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                    <img class="img-responsive" src="{{ site.baseurl }}/images/astro_upclose.png" id="astronaut">
                </div>
            </div>
        </div>
        <div class="row solid-white">
            <div class="container">

              {{ content }}

            </div>
        </div>

        <!-- {% include index_pre_footer.html %} -->

        <div class="stars_overlay" data-stellar-background-ratio="1.1"></div>
        <div class="stars_overlay" data-stellar-background-ratio="2.5"></div>
        <footer id="colophon" role="contentinfo" class="row">
            <div class="container">
                <div class="site-info col-lg-12 col-sm-12 col-xs-12 col-md-12">                    
                    <div id="social-networking">
                        <a class="social-link ico-twitter" href="https://twitter.com/spacehealthhtx" target="_new"></a>
                        <a class="social-link ico-facebook" href="https://www.facebook.com/spacehealth" target="_new"></a>      
                    </div>
                    <div style="clear:both"></div>
                    <p>
                        © Copyright 2013 <a href="{{ site.baseurl }}/jsc_files/jsc.html">Mission to Mars Health</a>. All Rights Reserved.
                    </p> 
                    <p>
                        <a href="http://missiontomarshealth.com/about">About</a> | <a href="http://missiontomarshealth.com/contact">Contact</a>
                    </p>
                </div><!-- .site-info -->
            </div><!-- #footer-inner -->
        </footer><!-- #colophon -->
        <script type="text/javascript" src="{{ site.baseurl }}/jsc_files/jquery.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/jsc_files/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/jsc_files/comment-reply.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/jsc_files/navigation.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/jsc_files/jquery.stellar.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/jsc_files/custom.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/jsc_files/jcountdown/jquery.jcountdown.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/jsc_files/bootstrap.min.js"></script>
        <script type="text/javascript">
            var queries = window.location.search.split('?'),discount_string = '';if(queries.length > 1){queries[1].split('&amp;').join('&#038;').split('&#038;');for(var i=0;i< queries.length;i++){if(queries[i].search('discount') === 0){discount_string = queries[i];}};}if(discount_string){var ticket_src=jQuery('.tickets').attr('src');jQuery('iframe').attr('src', ticket_src + '&amp;' + discount_string).load();}


            jQuery(document).ready(function(){
                jQuery("#jCountdown").jCountdown({
                    timeText:"2014/02/07 18:00:00",
                    timeZone:-6,
                    style:"flip",
                    color:"black",
                    width:0,
                    textGroupSpace:15,
                    textSpace:0,
                    reflection:false,
                    reflectionOpacity:10,
                    reflectionBlur:0,
                    dayTextNumber:2,
                    displayDay:true,
                    displayHour:true,
                    displayMinute:true,
                    displaySecond:true,
                    displayLabel:true,
                });
            });
        </script>        
    </body>
</html>