<!DOCTYPE html>
<html>
    <head>
        <!-- bootstrap CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style-bootport.css">
        <link href="{{ site.baseurl }}/jsc_files/jcountdown/jcountdown.css" rel="stylesheet" type="text/css">

        <!-- Fonts CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/fonts.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">

        <style type="text/css">
        @media print{
        	.highlight-color{
        		color: #d74418 !important;
        	}
        }
        </style>
    </head>
    <body style="background: #fff">
    	<div class="container">
    		<div class="row">
        		{{ content }}
        	</div>
        </div>
    </body>
</html>